<div class="container">
  <div class="row guess-header">
    <div class="header">Опросы</div>
  </div>
  <div class="row guess-card">
    <div class="row card-header">Обратная связь после заселения</div>
    <div class="row card-description">Расскажите, что успели посетить? Как заселились?</div>
    <div class="row">
      <div class="col-4">
        <button class="survey">Пройти</button>
      </div>
      <div class="col-4">
        <div class="score">+50Б</div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <div class="row guess-card">
    <div class="row card-header">Задание от партнера VK</div>
    <div class="row card-description">Выложи пост в социальной сети vk.com с изображением любого мероприятия форума.</div>
    <div class="row">
      <div class="col-4">
        <button class="survey">Пройти</button>
      </div>
      <div class="col-4">
        <div class="score">+300Б</div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <div class="row guess-card"></div>
</div>
