<div class="container">
  <p class="text-center fw-bold fs-3">Мероприятия</p>
  <div class="row justify-content-center">
    <div class="left-rectangle select-text">трек</div>
    <div class="right-rectangle select-text">общие</div>
  </div>
  <div class="frame justify-content-center">
    <img src="../../../assets/icons/left-pointer.svg" class="ico-pointer">
    <p class="fw-bolder text-date">Четверг, 20.07</p>
    <img src="../../../assets/icons/right-pointer.svg" class="ico-pointer">
    <div class="square">
      <img src="../../../assets/icons/filter.svg" class="ico-filter">
    </div>
  </div>
</div>
