<div class="container">
  <div class="centered">
    <div class="frame">
      <img src="../../../assets/images/logo.png" alt="Фото" class="image">
      <div class="square"><img src="../../../assets/images/camera.png" class="camera-ico"></div>
    </div>
  </div>

  <div class="centered text">Иванка Столярова</div>

  <div class="main-rectangles">
    <div class="centered rectangles">
      <div class="white short rectangle content justify-content-center">500 баллов</div>
      <div class="white short rectangle content justify-content-center">7 Уровень</div>
    </div>
    <div class="centered">
      <div class="white rectangle content">
        <img src="../../../assets/icons/contacts.svg" class="ico">
        Основная информация
      </div>
    </div>
    <div class="centered">
      <div class="white rectangle content">
        <img src="../../../assets/icons/phone.svg" class="ico">
        Контакты
      </div>
    </div>
    <div class="centered">
      <div class="white rectangle content">
        <img src="../../../assets/icons/doc.svg" class="ico ml">
        Документы
      </div>
    </div>
    <div class="centered">
      <div class="white rectangle content">
        <img src="../../../assets/icons/settings.svg" class="ico">
        Настройки
      </div>
    </div>
  </div>

  <div class="background-rectangles">
    <div class="centered rectangles">
      <div class="green short rectangle"></div>
      <div class="green short rectangle"></div>
    </div>
    <div class="centered">
      <div class="green rectangle"></div>
    </div>
    <div class="centered">
      <div class="green rectangle"></div>
    </div>
    <div class="centered">
      <div class="green rectangle"></div>
    </div>
    <div class="centered">
      <div class="green rectangle"></div>
    </div>
  </div>
</div>
