<div class="container">
  <div class="row">
    <div class="col-12 menu-block">
      <ul class="nav nav-tabs nav-ul" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false" (click)="navigateToPage('/map')">
          <img src="../../../assets/icons/map.svg" alt="лого">
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="guess-tab" data-bs-toggle="tab" data-bs-target="#quess-tab-pane" type="button" role="tab" aria-controls="guess-tab-pane" aria-selected="false" (click)="navigateToPage('/guess')">
            <img src="../../../assets/icons/guess.svg" alt="лого">
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar-tab-pane" type="button" role="tab" aria-controls="calendar-tab-pane" aria-selected="false" (click)="navigateToPage('/')">
            <img src="../../../assets/icons/calendar.svg" alt="лого">
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="star-tab" data-bs-toggle="tab" data-bs-target="#star-tab-pane" type="button" role="tab" aria-controls="star-tab-pane" aria-selected="false" (click)="navigateToPage('/star')">
            <img src="../../../assets/icons/star.svg" alt="лого">
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" (click)="navigateToPage('/profile')">
            <img src="../../../assets/icons/profile.svg" alt="лого">
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
