@import '../../../assets/styles/colors.scss';

.container {
  position: absolute;
  bottom: 10px;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  border: 1.5px solid $color-black;
  border-radius: 24px;
  width: 90%;
  background: #67C1BC;
  z-index: 100;
}

button:hover {
  background: $color-yellow;
  border: 1.5px solid $color-black;
  border-radius: 10px;
}

.rectangle {
  z-index: 90;
  height: 40px;
  width: 90%;
  margin-bottom: -4px;
  background: #FFF16F;
  border: 1.5px solid $color-black;
  border-radius: 24px;
}
